            
            

        
            <div class="row no-gutters mx-auto justify-content-center">

               
                <div class="col-sm-6 col-md-6 col-lg-6 align-self-center">
                
                <img src="{{movie.imagePath}}" class="img-fluid" alt="...">
                
                <div class="col-md-8">
                <div class="card-body">

                    <h5 class="card-title">{{movie.movieName}}</h5>
                    <p class="card-text">上映日期：{{movie.releaseDate}}</p>
                    <p class="card-text">電影介紹：{{movie.movieSynopsis}}</p>
                    <p class="card-text">片長：{{movie.movieLength}}分鐘</p>
                    <p class="card-text">導演：{{movie.movieDirector}}</p>
                    <p class="card-text">主演：{{movie.movieActor}}</p>
                    <p class="card-text">票價：{{movie.ticketPrice}}</p>
                    
                    <a href="/" type="button" class="btn btn-secondary">瀏覽電影清單</a>
                    
                </div>
                </div>
               
                </div>
       </div>       
         

  
